- provide(:title, "New Project")
- provide(:body_class, "project")

%h1 Add Project to Slideshow
%hr

#project-page

  = render 'basic_info'
  
  %hr  

  %h2 Slides

  .row

    .span3
      Now, configure the slides of
      your presentation. You can drag
      them to change the order.

    .span9
      %a.pull-right.btn.new-slide-btn Add New Slide

      .slides#sortable
        = render 'slide', template_slide: true          
          
  .form-actions
    %button.btn.btn-primary.btn-large#submit-btn{"data-loading-text" => "Saving...", |
      "data-submit-url" => new_project_from_json_path, "data-method" => "POST" } Save

#success-page
  .alert.alert-success
    %strong Project saved!
    Keep this link to edit it in the future:
    %a#edit-project-path