!!! 5

%html{lang: "en"}
%head
  %title Hub Slideshow
  = stylesheet_link_tag "slideshow", media: "all"
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600", rel: "stylesheet", type: "text/css"}
  
%body.impress-not-supported
  
  #impress
  
    //big overview step
    .step{"data-x" => 0, "data-y" => 0, "data-scale" => "5"}
  
    - @hub.projects.all.each do |project|
    
      - @orig_x = @x
      - @orig_y = @y
  
      //overview step
      .step{"data-x" => @x + 1000, "data-y" => @y + 300, "data-scale" => "2.5"}
    
      //title step
      .step.title-step{"data-x" => @x - 200, "data-y" => @y - 450}
        .project-title
          %h1 GovHub
          
      - project.pages.all.each do |page|
          
        .step{"data-x" => @x, "data-y" => @y}
          = render "steps/" + partial_name_from(page.page_type), page: page, project: project
          - if @page_count % 3 == 0
            - @x -= 2000
          - else
            - @x += 1000
          - @y += 700 if @page_count % 3 == 0
          - @page_count += 1
          
      //overview step
      .step{"data-x" => @orig_x + 1000, "data-y" => @orig_y + 300, "data-scale" => "2.5"}
      
      - @project_count += 1    

  .hint
    %p Use a spacebar or arrow keys to navigate
    

  = javascript_include_tag "slideshow"
    
    