html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    min-height: 740px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    
    
    .step {
        width: 900px;
        box-sizing: border-box;
        font-size: 48px;
        line-height: 1.5;
        margin: 0;
        opacity: 0.6;
        padding: 0;
        position: relative;
        text-align: center;

        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -ms-transition:     opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
        
        &.active {
            opacity: 1;
        }
        
        &.title-step {
            width: auto !important;
            white-space: nowrap;
            display: inline-block;
        }
        
        .corner {
            position: absolute;
            top: -15px;
            right: -40px;
            text-align: center;
            
            img {
                width: 150px;
            }             
        }
        
        > .project-title {
            font-size: 50px;
            font-weight: 700;
            margin-top: -360px;
            margin-right: 1150px;
        }
        
        > .big-text {
            font-size: 36px;
            padding: 40px;
            background-color: #efefef;
            -webkit-transform: rotate(-2deg);
            position: relative;            
        }
        
        > .big-photo {
            background-color: #efefef;
            padding: 10px;
            width: auto !important;
            display: inline-block;
                
                img {
                    max-width: 900px;
                    max-height: 600px;
                    vertical-align: middle;
                }
        }
        
        > .text-and-photo {
            font-size: 24px;
            padding: 40px;
            background-color: #efefef;
            -webkit-transform: rotate(1deg);
            position: relative;
            
            .frame {
               text-align: center;
               margin-top: -100px;
               padding-bottom: 50px;
                
                img {
                    max-width: 600px;
                    max-height: 300px;
                    border: 10px solid #666;
                    -webkit-transform: rotate(-1deg);
                    
                }
            }
        }
        
        > .team-bios {
            font-size: 24px;
            background-color: #efefef;    
            padding: 40px;
            width: 800px;
            
            h3 {
                font-size: 36px;
                font-weight: 600;
                margin-top: -20px;
            }
            
            .members {
                text-align: center;
                
                .member {
                    display: inline-block;
                    padding: 40px;
                    vertical-align: top;
                    
                    .picture {
                        img {
                            border: 10px solid #666;
                        }
                    }
                    
                }
                
            }
            
                    
        }
                
        > .contact-info {
            font-size: 28px;
            background-color: #efefef;    
            padding: 40px;
            -webkit-transform: rotate(1deg);
            width: 550px;
            
            .website {
                padding-bottom: 30px;
            }
            
            .twitter {
                background: url('/assets/twitter.png') no-repeat;
                line-height: 70px;
                padding-left: 80px;
                margin: 10px 0;
            }
            
            .facebook {
                background: url('/assets/facebook.png') no-repeat;
                line-height: 35px;
                padding-left: 80px;
                margin: 10px 0;
                padding-bottom: 20px;
            }
            
        }
    }
    
    .fallback-message, .hint {
        display: none;
    }
    
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
