.team-bios
  .corner
    %img{"src" => "http://www.govhub.org/images/logo.png"}
  %h3 Team
  .members
    - 2.times do
      .member
        .picture
          %img{"src" => "http://www.gravatar.com/avatar/64f9dd1e355669dd36340a804ee91d40?s=240&d=identicon"}
        .name Adam Becker
        .title Co-founder
